.tile {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  background-color: rgb(123,199,247);
  margin: 0;
}

/* DYNAMIC CLASSES */

.ship-preview,
.current-ship {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  background-color: rgba(123,199,247, 0.8);
}

.blank-tile {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
}

.preview {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  background-color: rgba(150,18,6, 0.3);
  z-index: 2;
}

.hover {
  background-color: rgba(150,18,6, 0.3);
  z-index: 2;
}

.current-ship,
.own-ship {
  background-color: rgb(150,18,6);
}

.hit {
  background-color: black;
}

.splash {
  background-color: white;
}