@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background: linear-gradient(0.25turn, 
    rgba(27,79,211,0.6) 25%, 
    rgba(10,53,165,0.6) 66%, 
    rgba(1,17,57,0.6) 100%),
    url('./images/submarine.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 10px;
}

.App {
  width: 95vw;
  height: 95vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-over-container {
  position: fixed;
  top: 3rem;
  left: 3rem;
}

.start-over-btn {
  font-family: 'Black Ops One', cursive;
  width: 15rem;
  height: 6rem;
  font-size: 1.6rem;
  background: rgb(78, 78, 78);
  color: white;
}

.start-over-btn:hover {
  background: rgb(104, 104, 104);
}

.start-over-btn:active {
  background: rgb(71, 71, 71);
}

/* MOBILE */

@media (max-width: 900px) {}

